.searchcar {
  display: flex;
  flex-direction: row;
  width: 430px;
  height: 40px;
  gap: 200px;
  padding-top: 20px;
  justify-content: space-around;
  background: #e5e5e5;
}

.searchauto {
  font-size: 22px;
  font-weight: 600;
}

.form1 {
  width: 430px;
  height: 550px;
  background: #e5e5e5;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.childs1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 45px;
  font-size: 18px;
}

.input1 {
  width: 350px;
  height: 30px;
  border-radius: 4px;
  border-color: #e5e5e5;
}

.input-control1 {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.submit1 {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 4px;
  border-color: #e5e5e5;
  font-size: 15px;
  background-color: #ffc815;
  width: 150px;
  height: 35px;
  font-weight: 600;
}

.logo-car {
  width: 35px;
  height: 20px;
  margin-top: 10px;
}
