.rectangle2 {
  display: flex;
  justify-content: center;
  width: 1200px;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.flexbox2 {
  display: flex;
  align-items: center;
  height: 320px;
  width: 350px;
}

.form3 {
  width: 350px;
  height: 320px;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.img-car {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 270px;
  height: 180px;
}

.info {
  display: flex;
  gap: 50px;
}

.properties {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.left-column {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-column {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons2 {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.update {
  font-family: Georama;
  background-color: #ffc815;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 70px;
}

.delete {
  font-family: Georama;
  font-weight: 100;
  background-color: #dddddd;
  color: red;
  border: none;
}
