.rectangle2 {
  display: flex;
  justify-content: center;
  width: 1200px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 350px;
}

.img-car {
  display: flex;
  justify-content: center;
  width: max-content;
  height: max-content;
}

.info {
  display: flex;
  gap: 50px;
}

.properties {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.left-column {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-column {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.update {
  font-family: Georama;
  background-color: #ffc815;
  color: black;
  font-weight: 600;
}

.delete {
  font-family: Georama;
  font-weight: 100;
  background-color: #ffc815;
  color: red;
}
